@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply bg-slate-900 text-slate-300 scroll-smooth;
  }

  html,
  body {
    @apply h-auto;
  }

  #__next {
    @apply h-full flex flex-col;
  }
}

:root {
  --scrollbar-size: 8px;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: #64748b;
}

::-webkit-scrollbar-thumb {
  background: #334155;
}

::-webkit-scrollbar-thumb:hover {
  background: #1e293b;
}

.cm-editor {
  flex: 1;
  height: 100%;
  position: relative;
  border: 1px solid #334155;
}

.cm-variables .cm-editor {
  border-top: 0;
}

.cm-editor.cm-focused {
  outline: 4px solid #1e293b;
}

.cm-scroller {
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;

  font-size: 14px;
  letter-spacing: 0.53px;
  -webkit-font-smoothing: antialiased;
}
